html {
  box-sizing:border-box;
  font-size:62.5%;
  font-family: Arial,Verdana,sans-serif;
}
  *, *:before, *:after{
	box-sizing:inherit;
  
}
/*       ...........................................................*/
.content-main-info {


	a {
		text-decoration: none;
		color: #00a2ac;
		font-size: 14px;
		font-size: 1.4rem;
	}
}